*.wxml linguist-language=HTML
*.wxss linguist-language=CSS
*.wxs linguist-language=JavaScript
*.js linguist-language=JavaScript
*.json linguist-language=JSON
project.config.json linguist-language=JSON
sitemap.json linguist-language=JSON

# 确保文本文件使用LF行尾
* text=auto eol=lf

# 二进制文件不应被修改
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
